@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-inter), sans-serif;
}

a,
button {
  cursor: pointer;
}

:root {
  --color-primary: #aab9ff;
  --font-roboto: Roboto, sans-serif;
}
