@import "tailwindcss";
/* https://www.youtube.com/watch?v=v_8CmC6cwUs */

body {
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Light Mode (default) */
:root {
  --bg-color: #f9fafb; /* Ljus bakgrund, nästan vit */
  --text-color: #1f2937; /* Mörkblågrå text */
  --primary-color: #3b82f6; /* Modern blå */
  --secondary-color: #6b7280; /* Fräsch grön accent */
  --border-color: #e5e7eb; /* Ljusgrå border */

  --hover-color: #dbeafe; /* Ljus blå hover-effekt */
  --skills-bg: #c9c7bd; /* Guldgul för skills-sektion */
  --card-bg: #ffffff; /* Vit kortbakgrund */
}

/* Dark Mode */
.dark {
  --bg-color: #1f2937; /* Mörkblågrå bakgrund */
  --text-color: #f9fafb; /* Nästan vit text */
  --primary-color: #60a5fa; /* Ljusare blå för bättre synlighet */
  --secondary-color: #6b7280; /* Ljusgrön accent */
  --border-color: #374151; /* Mörkgrå border */

  --hover-color: #4b5563; /* Dämpad mörk hover-effekt */
  --skills-bg: #514c3d; /* Mjuk gul för skills */
  --card-bg: #374151; /* Mörkgrå kortbakgrund */
}

.secondary-color {
  color: var(--secondary-color);
}

.skills-bg {
  background-color: var(--skills-bg);
}
.card-bg {
  background-color: var(--card-bg);
}
.border {
  border-color: var(--border-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--bebas-neue), sans-serif;
}

.about-text {
  font-family: var(--font-roboto), sans-serif;
}

a,
button {
  cursor: pointer;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}
